<div id="<%= dom_id taskmanager %>" class="box">
  <p>
    <strong>Title:</strong>
    <%= taskmanager.title %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= taskmanager.memo %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= taskmanager.status %>
  </p>

</div>
